<div class="container h-screen max-w-screen-lg mx-auto">
  <%= live_component(
    @socket,
    Bonfire.Geolocate.MapLive,
    id: :VFMap,
    markers: @markers,
    points: @points,
    place: @place
  ) %>
</div>
